/***************************************************
    Topic 1 - universal css selector
    * it applies to all the elements across the page
*/
/* * {
    padding-top: 5px;
} */

/***************************************************
    Topic 2 - tag css selector
    * it only applies to the tag named here.
*/
p {
    color: darkblue;
}

/***************************************************
    Topic 3 - class selector
    * it only applies to the one with the class selected
*/
.upper-part {
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5px;
    font-family: Verdana;
}


/***************************************************
    Topic 4 - id selector
    * it only applies to the one with the same id
*/
#lorem-default {
    font-size: large;
}

/***************************************************
    Topic 5 - add background colour
*/
.grey {
    background-color: rgba(128,128,128, 0.1);
    text-align: left;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

/***************************************************
    Topic 6 - class level of changing font
    * here we include the most used font related attributes.
*/
.font-styles {
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    font-size: 15px;

}

/***************************************************
    Topic 7 - updating list styling. 
    * currently we set up the list's markers as none
    * and remove the margin and padding around it.
    * NOTE - list-style-type is None is very useful cuz most of the cases there won't be a bullet point.
*/
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

/***************************************************
    Topic 8 - experimenting Box Model. 
*/

.box-model {
    margin: 10px;
    border: 3px solid red;
    height: 100px;
    width: 500px;
    padding: 50px;
}

/***************************************************
    Topic 9 - explain specificity 
    * both the following try to set the colour on h4 specificity tag
    * however, it's set as green. Because the first case has ID while the second only have 2 class.
    * no matter the total scores, as ID has a superior position than class, then than Type.

    * there is also exception. We can add keyword such as "!important", to hoisting the importance.
*/
#num1 { 
    color: green;   /* 1 0 0 Wins*/
}
.test1 [id='num1'] {    /*0 2 0 fails*/
    color: blue;
}

/***************************************************
    Topic 10 - explain inheritance 
    * we would notice that the colour of the p tag is blue rather than lightcoral.
    * this is because we have defined p tag color already. 
    * it means inheritance is less superior than specificity.

    * however, font-family and font-size are both inherited from the section tag.
*/
.inheritance {
    color: lightcoral;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
}

/***************************************************
    Topic 11 - style table
    * style th and td (table header and table data) by adding a border
    * style table
*/
th, td {
    border-bottom: 2px solid #ccc; /*shade of grey*/
    text-align: center;
    padding: 15px;
}
table {
    border-collapse: collapse;  /* border-collapse will shrink the margin to zero */
    width: 60%;                 /* width will expand the table to 60% of the screen */
}

/***************************************************
    Topic 12 - block / inline
    * display takes "inline", "block" and "none", which is to change the nature of HTML element.
*/
.content1 {
    border: 2px solid red;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content2 {
    border: 2px solid blue;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
}

/***************************************************
    Topic 13 - positiion
    * position: relative, fixed, static, absolute, sticky, 
    * associated properties are top, bottom, left and right.
*/
.position1 {
    border: 2px solid red;
    position: static;
    margin-bottom: 5px;
}
.position2 {
    border: 2px solid rgb(53, 53, 135);
    position: relative;
}